
.sidenav-wrapper {
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;

  mat-sidenav {
    width: 200px; /* Điều chỉnh chiều rộng của sidebar */
    padding-top: 80px;
    padding-left: 40px;
  }
  
  mat-sidenav-content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
  }
}
