<mat-sidenav-container class="sidenav-wrapper">
  <mat-sidenav [opened]="isOpen">
    <mat-nav-list>
      <a [routerLink]="['/home']">
        <button mat-button>
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </button>
      </a>

      <a [routerLink]="['/profile']">
        <button mat-button>
          <mat-icon>person</mat-icon>
          <span>Profile</span>
        </button>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
