// .main-container {
//   height: 100vh; /* 64px là chiều cao mặc định của mat-toolbar */
// }

// .main-content {
//   margin-top: 64px; /* Tạo khoảng trống phía trên cho header */
//   padding: 16px;
//   height: calc(100vh - 64px);
//   overflow: auto;
// }
