// .container {
//   position: absolute;
//   content: "";
//   left: 100px;
//   top: 70px;
//   display: flex;
//   align-items: center;
//   border-radius: 8px;
//   z-index: 99;
// }
  // .table {
  //   width: 100%;
  //   border-collapse: collapse;
  //   margin: 20px 0;
  //   font-size: 16px;
  //   text-align: left;

  //   thead {
  //     background-color: #f2f2f2;

  //     th {
  //       padding: 12px 15px;
  //       border-bottom: 1px solid #dddddd;
  //     }
  //   }

  //   tbody {
  //     tr {
  //       border-bottom: 1px solid #dddddd;

  //       &:nth-of-type(even) {
  //         background-color: #f9f9f9;
  //       }

  //       &:hover {
  //         background-color: #f1f1f1;
  //       }

  //       td {
  //         padding: 12px 15px;
  //         word-wrap: break-word;
  //         white-space: normal;

  //         &.correct-answer {
  //           background-color: #d4edda;
  //           color: rgb(21, 87, 36);
  //         }

  //         .hidden-content {
  //           // background-color: #ffffff;
  //           visibility: hidden;
  //         }

  //       }
  //     }
  //   }
  // }


.container {
  position: absolute;
  width: 100%;
  content: "";
  left: 100px;
  top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

mat-card {
  width: 100%; // Adjust based on your preference for card width
  max-width: 1200px; // Ensures the card is not too wide on larger screens
  margin: auto; // Centers the card horizontally
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.12); // Subtle shadow for depth
}

mat-card-title {
  color: #1976d2; // A blue that matches the primary color of Angular Material
  font-size: 24px;
  margin-bottom: 20px;
}

input[type="file"] {
  width: 100%;
  margin: 15px 0;
  padding: 10px 15px;
}

table {
  width: 100%;
  margin-top: 20px;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #e0e0e0; // Light grey border for each cell
}

.correct-answer {
  background-color: rgb(200, 230, 201); // Light green background for correct answers
}

mat-error {
  color: #d32f2f; // Red color for errors, aligns with Material error styling
  padding: 10px 0;
  font-size: 14px;
}

@media (max-width: 768px) {
  mat-card {
    width: 98%;
    padding: 10px;
  }

  mat-card-title {
    font-size: 20px;
  }
}

