<div class="container">
  <mat-card>
    <mat-card-title>Read Excel and Display in Table</mat-card-title>
    <input
      type="file"
      (change)="readExcelFile($event)"
      mat-raised-button
      color="primary"
    />
    <mat-error *ngIf="hasErrors()">
      <div *ngFor="let error of getErrorMessages()">{{ error }}</div>
    </mat-error>
    <table
      mat-table
      [dataSource]="data"
      class="mat-elevation-z8"
      *ngIf="data.length"
    >
      <ng-container
        *ngFor="let key of keys; let i = index"
        [matColumnDef]="key"
      >
        <th mat-header-cell *matHeaderCellDef>{{ key }}</th>
        <td
          mat-cell
          *matCellDef="let element"
          [ngClass]="{ 'correct-answer': isCorrectAnswer(element, i) }"
        >
          {{ element[i] }}
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="keys"></tr>
      <tr mat-row *matRowDef="let row; columns: keys"></tr>
    </table>
  </mat-card>
</div>
