/* src/styles.scss */

@import "../node_modules/bootstrap/dist/css/bootstrap.css"; 


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  app-header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
  }
  
  app-sidebar {
    position: fixed;
    width: 200px;
    top: 150px;
    bottom: 0;
    left: 0;
    background: #f4f4f4;
    padding: 10px;
  }
  
  .content {
    margin-left: 200px;
    padding: 20px;
    margin-top: 50px;
  }